<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Andy's quiz</title>
</head>
<body>

    <div class="content">
        <form class="quiz_form" action="{{ url_for('handle_submit_answer') }}" method="post">
            <p class="question">{{ data.question }}</p>
            <input type="radio" id="option_1" name="answers" value={{ data.option_1_id }} >{{ data.option_1_text }}</input></br>
            <input type="radio" id="option_2" name="answers" value={{ data.option_2_id }} >{{ data.option_2_text }}</input></br>
            <input type="radio" id="option_3" name="answers" value={{ data.option_3_id }} >{{ data.option_3_text }}</input></br>
            <input type="radio" id="option_4" name="answers" value={{ data.option_4_id }} >{{ data.option_4_text }}</input></br>
            <input type=submit value=Submit>
        </form>
    </div>
    <div class="scores">
        <div class="chart" id='plotly-scores'></div>
    </div>
    <script type="text/javascript">
        var scores = {{ data.plotly_scores | safe }};
        Plotly.plot("plotly-scores", scores, {});
    </script>
</body>
</html>
